doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title TypeQuotes
  style 
    include ../style.css
  link(rel='icon' href='../../Images/clip.png')
  
     
nav
  a(href='/')
    img.logo(src='../../Images/clip.png' alt='TypeQuotes Logo')
  .navbar(target='_blank' title='Go to TypeQuotes Home')
    a(href='/')
      p.titlename.typing TypeQuotes
      p
    .navlinks
      a.navlinkitem  Home
      a.navlinkitem  Start Multiplayer
      a.navlinkitem(href='/newsingle')  Start Singleplayer
      a.navlinkitem  Add new 
block content