@media all and (orientation: landscape) {
  .videoCard {
    height: 12vh;
    width: 60vw;
    border: 2px bisque solid;
    border-radius: 1vh;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1vh;
    box-sizing: border-box ;
}
}

@media all and (orientation: portrait) {
  .videoCard {
    height: 12vh;
    width: 100vw;
    border: 2px bisque solid;
    border-radius: 1vh;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1vh;
    box-sizing: border-box ;
}
}



.videoCardThumbnail {
    position: absolute;
    height: 90%;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5%;
    border-radius: 1vh 0 0 1vh;
}

.videoCardTitle {
    position:absolute;
    color:bisque;
    font-size: 2.5vh;
    font-weight: 700;
    top: 50%;
    transform: translateY(-50%);
    left: 20vh;
    width: 42vw;
    white-space: nowrap;
    overflow: hidden;
}

.videoCardAuthor {
    position:absolute;
    color:bisque;
    font-size: 1.5vh;
    font-weight: 500;
    top: 60%;
    left: 20vh;
    width: 30vw;
}


.tableHead {
    height: 8vh;
    border: 2px bisque solid;
    border-radius: 1vh 1vh 0 0;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1vh;
    box-sizing: border-box;
}
.yes{
    position:absolute;
    color:rgb(0, 134, 34);
    height: 4vh;
    right: 7vh;
    top: 50%;
    transform: translateY(-50%);
    opacity: 40%;
}
.no{
    position:absolute;
    color:rgb(134, 0, 0);
    height: 4vh;
    right: 2vh; 
    top: 50%;
    transform: translateY(-50%);
    opacity: 40%;
}
.yes:hover, .no:hover {
    opacity: 70%;
}
.activated, .activated:hover {
    opacity: 100%;
}


.loading {
    height: 20vmin;
    width: 20vmin;
    position:absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tableHeading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: bisque;
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 5%;
}


.spinning {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}