extends layouts/main.pug

block content 
    iframe(src="/last")#pdfframe
    #pdfinput
        input#innerpdfinput.newquoteinput(placeholder="Type here...")
        textarea#nexttext.newquoteinput(readonly="yes")
    #outercircle 
        #innercircle
    script 
        include ../../../Javascript/pdfwrite.js  