<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypeQuotes</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="../../Images/clip.png">
</head>


<body class="semitransparent">
   
<nav >
    <a  href="">
    <img  class="logo" src="../../Images/clip.png" alt="TypeQuotes Logo">
    </a>
        <div class='navbar'  target="_blank" title="Go to TypeQuotes Home">
         
         <a  href="">
            <p class="titlename typing">TypeQuotes<p>
        </a>
         
        <div class="navlinks">
            <a class="navlinkitem"> Home</a>
            <a class="navlinkitem"> Start Multiplayer</a>
            <a class="navlinkitem"> Start Singleplayer</a>
            <a class="navlinkitem"> Profile</a>
        </div>
</div>
</nav>

{{{body}}}

</body>

</html>