.frame-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */  
    padding-top: 25px;
    width: 300%; /* enlarge beyond browser width */
    left: 0%; /* center */
    
}

.frame-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 50%; 
    height: 50%;
}