extends layouts/main.pug

block content 
    #newquoteform
        h3.centeredblock Commit new Quote
        textarea.newquoteinput#quoteinput(rows=1, placeholder="Paste Quote here")  
        div.flexbox(style = "width: 96%").centeredinline
            textarea.newquoteinput#languageinput(rows=1, placeholder="Language")
            input(type='select', placeholder="Author name", list='cars').newquoteinput#authornameinput
            datalist#cars
                each val in authorArray
                    option= val
        img#authorimg
        
        
        


    script 
        include  ../../../Javascript/addnew.js