extends layouts/main.pug

block content 
    #newquoteform
        h3.centeredblock Commit new Quote
        textarea.newquoteinput#quoteinput(rows=1, placeholder="Paste Quote here")  
        div.flexbox(style = "width: 96%").centeredinline
            input.newquoteinput#languageinput(rows=1, placeholder="Language")
            input(type='select', placeholder="Author name (press Enter for autosearch)", list='authors').newquoteinput#authornameinput
            datalist#authors
                each val in authorArray
                    option= val
        a#newauthlink
            img#newauthimg
        input(type='select', placeholder="Author Wikipedia/Description/Other Main Page URL").newquoteinput#authorurlinput
        input(type='select', placeholder="Author image URL").newquoteinput#authorimginput
        


        
        


    script 
        include  ../../../Javascript/addnew.js