extends layouts/main.pug

block content 
    #newquoteform
        h3.centeredblock Thanks for Committing a quote! 
        p.centeredblock You will have to wait till I proved it, but then you will be able to type your own quote.
       
        


        
        


